$primary-title-color: #212121;
$primary-white-color: #ffffff;
$description-color: #757575;
$active-color: #56c297;
$accent-form-color: #56c297;
$transparent-white: rgba(255, 255, 255, 0.4);

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
