.chef {
  &__section {
    @media screen and(max-width:767px) {
      padding-bottom: 50px;
    }
    @media screen and(min-width: 768px) and(max-width:1199px) {
      padding-bottom: 66px;
    }
    @media screen and(min-width:1200px) {
      margin-top: -53px;
      padding-bottom: 100px;
    }
  }
  &__container {
    display: flex;

    @media screen and(max-width:767px) {
      flex-wrap: wrap;
    }
  }
}

.chef-summary {
  &__wrapper {
    @media screen and(max-width:767px) {
      order: 2;
      text-align: center;
    }
    @media screen and(min-width: 768px) and(max-width: 1199px) {
      padding-top: 73px;
      margin-right: 24px;
    }
    @media screen and(min-width:1200px) {
      padding-top: 172px;
      margin-right: 82px;
    }
  }
  &__question {
    font-style: italic;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);

    @media screen and(max-width:1199px) {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 1.1875;
    }
    @media screen and(max-width:768px) {
      margin-bottom: 5px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      font-size: 1.5rem;
      line-height: 1.208;
    }
  }
  &__title {
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #000000;

    @media screen and(max-width:1199px) {
      font-size: 1.75rem;
      line-height: 1.071428571428571;
    }

    @media screen and(min-width: 1200px) {
      font-size: 3rem;
      line-height: 1.041666666666667;
    }

    &::after {
      display: block;
      content: '';
      width: 40px;
      height: 2px;
      background-color: #000000;
      transform: rotate(180deg);

      @media screen and(max-width:767px) {
        margin-right: auto;
        margin-left: auto;
      }

      @media screen and(max-width: 1199px) {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
  &__discription {
    font-weight: 400;
    @media screen and(max-width:1199px) {
      font-size: 1rem;
      line-height: 1.25;
    }

    @media screen and(min-width: 1200px) {
      font-size: 1.5rem;
      line-height: 1.041666666666667;
    }
  }
}

.chef-avatar {
  &__wrapper {
    width: 100%;
  }
  &__img {
    display: block;

    & > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
