.hero {
  &__section {
    position: relative;
  }
  &__container {
    z-index: 2;
    @media screen and(max-width:767px) {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 118px;
      padding-bottom: 63px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 172px;
      padding-bottom: 210px;
    }
  }
  &__title {
    font-weight: 700;

    @media screen and(max-width:1199px) {
      margin-bottom: 22px;

      font-size: 2.625rem;
      line-height: 1.07;
    }

    @media screen and(max-width:767px) {
      width: 185px;
      margin-bottom: 15px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;

      font-size: 3.5rem;
      line-height: 0.803;
    }
  }
  &__discription {
    @media screen and(max-width:767px) {
      margin-bottom: 35px;
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
      margin-bottom: 47px;
    }
    @media screen and(max-width:1199px) {
      font-size: 1.125rem;
      line-height: 1.111;
      max-width: 316px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 1.5rem;
      line-height: 1.04;
      max-width: 413px;
    }
  }
  &__button {
    @media screen and(max-width:1199px) {
      font-size: 0.8rem;
      line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.3125rem;
      line-height: 0.952;
    }

    &--first {
      @media screen and(max-width:767px) {
        margin-bottom: 14px;
      }
      @media screen and(min-width:768px) and(max-width:1199px) {
        margin-bottom: 18px;
      }
      @media screen and(min-width:1200px) {
        margin-bottom: 26px;
      }
    }
    &--second {
      @media screen and(min-width:1200px) {
        display: none;
      }
    }
  }
}

.hero-back-img-fix {
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 949px) {
    width: 450px;
  }
  @media screen and(min-width:950px) and (max-width: 1199px) {
    width: 550px;
  }
  @media screen and(min-width:1200px) and (max-width: 1599px) {
    width: 830px;
  }
  @media screen and (min-width: 1600px) {
    width: 1085px;
  }

  & > img {
    width: 100%;
    height: 90%;
  }
}
