.menu {
  &__section {
    background-color: #f8f8f8;
    @media screen and(max-width:1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and(max-width:768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media screen and(min-width:1200px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__decoration {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: #f4512d;

    @media screen and(max-width:1199px) {
      width: 3px;
      height: 67px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
      width: 5px;
      height: 100px;
      margin-bottom: 80px;
    }
  }
  &__list {
  }
  &__item {
    @media screen and(max-width:767px) {
      &:not(:last-child) {
        @media screen and(max-width:767px) {
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
      &:last-child {
        padding-top: 50px;
      }
    }
    &:nth-child(2n) {
      background-color: #ffffff;
    }
    &:nth-child(2n + 1) {
      & .menu__picture {
        order: 2;
      }
    }

    @media screen and(min-width:768px) and(max-width:1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and(min-width:1200px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__item--wrapper {
    @media screen and(min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__picture {
    // & > img {
    //   width: 100%;
    // }
  }
}

.dish {
  &__wrapper {
    @media screen and(min-width:768px) and(max-width:1023) {
      width: 322px;
    }
    @media screen and(min-width:1024px) and(max-width:1199px) {
      width: 337px;
    }
    @media screen and(min-width:1200px) {
      width: 500px;
    }
  }
  &__title {
    font-weight: 700;

    color: #000000;
    @media screen and(max-width:1199px) {
      font-size: 1.75rem;
      line-height: 0.892;
    }

    @media screen and (max-width: 768px) {
      text-align: center;

      font-size: 1.4rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 3rem;
      line-height: 1.04;
    }
    &::after {
      display: block;
      content: '';
      width: 45px;
      height: 2px;
      background-color: #000000;
      transform: rotate(180deg);

      @media screen and(max-width:767px) {
        margin-right: auto;
        margin-left: auto;
      }

      @media screen and(max-width: 1199px) {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
  &__discription {
    @media screen and(max-width:767px) {
      font-size: 0.85rem;
      text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 320px;
    }
    @media screen and(max-width: 1199px) {
      margin-bottom: 35px;
    }
    @media screen and (min-width: 1200px) {
      width: 475px;
      margin-bottom: 50px;
    }
  }
  &__button--last {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-right: 66px;
    }

    @media screen and (min-width: 1200px) {
      padding-right: 80px;
    }
    @media screen and(max-width:767px) {
      position: relative;
      margin: auto;
      padding-right: 66px;

      & > .button__svg {
        margin-right: 38px;
      }

      // &::before {
      //   content: '';
      //   display: inline-block;
      //   position: absolute;
      //   left: -32px;
      //   width: 23px;
      //   height: 2px;
      //   background-color: #ef826b;
      // }
      // &::after {
      //   content: '';
      //   display: inline-block;
      //   position: absolute;
      //   right: -32px;
      //   width: 23px;
      //   height: 2px;
      //   background-color: #ef826b;
      // }
    }

    & .button__discription {
      font-weight: 700;
      @media screen and(max-width:1199px) {
        font-size: 1.125rem;
        line-height: 1.111111111111111;
      }
      @media screen and(min-width:1200px) {
        font-size: 1.3125rem;
        line-height: 0.9523809523809524;
      }
    }
  }
}
